@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* GENERICS */
html, body{
  scroll-behavior: smooth;
  overflow-x: hidden;

}
a,
li {
  text-decoration: none;
  list-style-type: none;
}
.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
.root {
  padding: 32px;
  width: 100%;
}
img {
  width: 100%;
}
.purple {
  color: #6415ff;
}
h2 {
  font-size: 48px;
  margin: 16px 0 0;
  color: #243e63;
  font-weight: 900;
}
h6 {
  font-size: 20px;
  color: #243e63;
  letter-spacing: 0.5px;
  font-weight: 600;
}
.h5__span {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 0 0 16px 0;
}
p {
  font-size: 18px;
  color: #7c8ba1;
  width: 100%;
  line-height: 1.7;
}
h3 {
  color: #243e63;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
}
.btn {
  width: 100%;
  max-width: 160px;
  font-size: 16px;
  padding: 16px 0;
  color: #f7fafc;
  background-color: #6415ff;
  border-radius: 999px;
  cursor: pointer;
  border: none;
}
/* NAVIGATION BAR */

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo--area {
  display: flex;
  align-items: center;
  margin-right: 24px;
}
.nav__logo--img {
  width: 40px;
  height: 40px;
  margin-right: 12px;
}
.nav__logo--text {
  font-size: 24px;
  color: #243e63;
  font-weight: 900;
  transition: all 200ms ease;
}
.nav__links {
  display: flex;
  align-items: center;
}
.nav__link {
  margin: 0 24px;
  font-size: 14px;
  font-weight: 600;
  position: relative;
}
.nav__link--anchor {
  color: #243e63;
  transition: all 200ms ease;
}
.nav__link--underline {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 1;
  background-color: #6415ff;
  margin-top: 4px;
  opacity: 0;
  transition: all 200ms ease;
}
.nav__link--login {
  margin: 0 24px 0 48px;
}
.nav__link--sign-up {
  margin: 0;
  padding: 12px 32px;
  background-color: #6415ff;
  border-radius: 999px;
  transition: all 300ms ease;
  cursor: pointer;
}
.nav__link--anchor--sign-up {
  color: #fff;
}
/* NAVIGATION BAR MOBILE */
.nav__container{
  position: relative;
}
.btn__menu--open{
  position: absolute;
  right: 0;
  right: 6px;
  border-style: none;
  transform: scale(180%);
  cursor: pointer;
  z-index:99999;
  display: none;
  background: none;
  transition: all 300ms ease;
}
.btn__menu--open:hover{
  color:#6415ff
}
.menu--open .menu__backdrop{
visibility: visible;
opacity: 1;
left: 1px;
}
.menu--open .btn__menu--open{
  z-index: 999;
}
.btn__menu--close{
  position: absolute;
  right: 30px;
  top: 30px;
  border-style: none;
  transform: scale(150%);
  filter: opacity(50%);
  cursor: pointer;
  background: none;
  transition: all 300ms ease;
}
.btn__menu--close:hover{
  color:#6415ff;
  filter:opacity(80%)
}
.menu__backdrop{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 1000px;
  height: 100vh;
  max-height: 312px;
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(196, 195, 195);
  border-radius: 10px;
  background-color: white;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: 500ms ease;
}
.nav__links.mobile{
  display: flex;
  flex-direction: column;
}
.nav__link.mobile{
  margin: 8px 0;
  font-size: 18px;
  font-weight: 600;
}
/* NAVIGATION BAR___HOVER EFFECTS */

.nav__logo--area:hover .nav__logo--text {
  color: #6415ff;
}
.nav__link:hover .nav__link--anchor {
  color: #6415ff;
}
.nav__link:hover .nav__link--underline {
  opacity: 1;
}
.nav__link--sign-up:hover {
  background-color: #550de4;
}

/* HEADER */

.header__container {
  padding: 92px 0;
  display: flex;
  width: 100%;
}
.header__get-started {
  width: 40%;
}
.header__img--wrapper {
  width: 60%;
}
.header__get-started--title {
  font-size: 48px;
}
.header__get-started--para {
  font-size: 18px;
  margin: 32px 0;
  width: 100%;
  max-width: 500px;
  color: #243e63
}
.header__get-started--sign-up {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 440px;
}
.header__get-started--input {
  padding: 20px 192px 20px 32px;
  border-radius: 999px;
  border-color: rgb(226, 232, 240);
  border-style: solid;
  height: 68px;
  width: 100%;
  transition: all 300ms ease;
  outline-color: #6415ff;
}
.header__get-started--input::placeholder {
  font-weight: 500;
  color: lightgray;
}

.header__get-started--btn {
  width: 100%;
  max-width: 160px;
  font-size: 16px;
  padding: 16px 0;
  color: #f7fafc;
  background-color: #6415ff;
  border-radius: 999px;
  cursor: pointer;
  position: absolute;
  right: 0;
  margin: 0 8px 0 0;
  border: none;
  transition: all 300ms ease;
}
.header__get-started--customers-wrapper {
  margin: 80px 0 0;
  color: #a0aec0;
}
.header__get-started--img {
  opacity: 0.5;
  max-width: 380px;
  margin: 16px 0 0;
}
.header__get-started--subtitle {
  font-size: 12px;
  font-weight: bold;
  color: #a0aec0;
}
/* HEADER___HOVER EFFECTS */

.header__get-started--input:hover {
  border-color: rgb(172, 172, 172);
}
.header__get-started--btn:hover {
  background-color: #550de4;
}

/* FEATURES */
.features__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 92px 0;
}
.features--para {
  max-width: 520px;
  margin: 16px 0 0;
  text-align: center;
  font-size: 16px;
}
.features__service--wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 56px 0 0;
  justify-content: center;
}
.features__service {
  max-width: calc(100% / 3);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 16px;
  padding: 32px 8px;
}
.features__service--para {
  width: 100%;
  max-width: 200px;
  font-size: 16px;
}
.features__img--wrapper {
  border: solid;
  border-color: rgb(224, 224, 224);
  border-radius: 999px;
  border-width: 1px;
  width: 66px;
  height: 66px;
  padding: 20px;
}
.features__img{
  width: 24px;
  height: 24px;
}
.features__service--text-area {
  margin: 8px 0 0 16px;
}
.features__service.easy{
    position: relative;
}
.features__decorator{
    position: absolute;
    transform: scale(45%);
    opacity: 30%;
    right: -350px;
    bottom: -300px
}


/* QUALITY */

.quality__container {
  display: flex;
  padding: 96px 0;
}
.quality__text--wrapper {
  width: 50%;
  padding: 32px 0;
}
.quality__img--wrapper {
  width: 50%;
  display: flex;
  align-items: center;
}
.quality__img--wrap{
    position: relative;
}
.quality__img--decoration{
    height: 80px;
    width: 80px;
    position: absolute;
    bottom: -34px;
    right: -36px;
    z-index: -10;
}
.quality__img {
  border: 2px solid;
  border-color: rgb(231, 231, 231);
  border-radius: 8px;
  overflow: hidden;
}
.quality__text--para {
  margin: 16px 0 0;
  max-width: 560px;
}
.quality__text--btn {
  margin: 32px 0 0;
  transition: all 300ms ease;
}
.quality__text--h2 {
  max-width: 540px;
}
/* QUALITY___HOVER EFFECTS */
.quality__text--btn:hover {
  background-color: #550de4;
}

/* STEPS */
.steps__container {
  display: flex;
  padding: 96px 0;
}
.steps__img--wrapper {
  width: 50%;
  display: flex;
  align-items: center;
}
.steps__img--wrap{
    position: relative;
}
.steps__img {
  max-width: 620px;
}
.steps__img--decoration{
    position: absolute;
    height: 160px;
    width: 160px;
    bottom: -84px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: -10;
    
}
.steps__text-area--wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 32px 0;
}
.steps__list {
  margin: 48px 0 0;
}
.steps__list--step {
  display: flex;
  margin: 32px 0 0;
}
.steps__list--step-text {
  margin: 0 0 0 24px;
}
.steps__number {
  font-size: 36px;
  color: #cbd5e0;
  font-weight: 600;
}
.steps__list--para {
  font-size: 14px;
  color: #718096;
  margin: 12px 0 0;
  max-width: 300px;
}
/* VALUES */
.values__container {
  display: flex;
  padding: 96px 0;
  align-items: center;
}
.values__text-area {
  width: 50%;
}
.values__text-area--h2 {
  max-width: 500px;
}
.values__text-area--para {
  font-size: 18px;
  margin: 32px 0 0;
  color: #7c8ba1;
  font-weight: 500;
  max-width: 550px;
}
.values__value--wrapper {
  display: flex;
}
.values__value {
  margin: 32px 32px 0 0;
}
.values__value.value2 {
  margin: 32px 0 0;
}
.values__value-img--wrapper {
  width: 36px;
  height: 36px;
}
.values__value--wrap {
  display: flex;
  align-items: center;
}
.values__value--name {
  font-size: 20px;
  color: #243e63;
  font-weight: 700;
  margin: 0 0 0 12px;
}
.values__img--wrapper {
  width: 50%;
}
.values__value--description {
  font-size: 16px;
  max-width: 260px;
  margin: 16px 0 0;
}
.values__btn {
  margin: 48px 0 0;
  transition: all 300ms ease;
}
/* VALUES___HOVER EFFECTS */
.values__btn:hover {
  background-color: #550de4;
}

/* PRICING */
.pricing__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  padding: 96px 0;
}
.pricing__header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pricing__para {
    max-width: 600px;
    text-align: center;
    margin: 16px 0 0;
    color: #7c8ba1;
    font-weight: 500;
}
.pricing__header--h5 {
    margin: 16px;
}
.pricing__plans {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.pricing__plan {
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px 0 0 0;
    margin: 64px 32px 0 0;
    border: 1px solid;
    border-radius: 0.5rem;
    border-color: rgb(226, 232, 240);
    border-width: 0px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    position: relative;
    background: white;
}
.pricing__decoration{
    position: absolute;
    transform: scale(45%);
    opacity: 30%;
    left: -300px;
    bottom: -300px;
    z-index: -10
}
.pricing__plan.plan-business {
    background: linear-gradient(
        135deg,
        rgb(76, 81, 191) 0%,
        rgb(102, 126, 234) 100%
        );
    }
    .pricing__plan--highlight {
  position: absolute;
  top: 0;
  height: 8px;
  width: 100%;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}
.pricing__plan--highlight.plan2 {
  display: none;
}
.pricing__plan--highlight.plan3 {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}
.pricing__plan--section1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  line-height: 46px;
}
.plan__section1--name {
  font-size: 20px;
  color: #1a202c;
  font-weight: 700;
}
.plan__section1--price {
  font-size: 48px;
  color: #1a202c;
  font-weight: 700;
  margin: 4px 0;
}
.plan__section1--duration {
  font-size: 16px;
  color: #a0aec0;
  font-weight: 600;
  letter-spacing: 1.5px;
}
.pricing__plan--section2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  border-bottom: solid;
  border-top: solid;
  border-color: rgb(226, 232, 240);
  border-width: 2px;
  text-align: center;
  line-height: 26px;
}
.plan__section2--feature-title {
  font-size: 20px;
  color: #1a202c;
  font-weight: 700;
}
.plan__section2--feature {
  width: 100%;
  font-size: 16px;
  color: #718096;
  margin: 20px 0 0;
}
.pricing__plan--section3 {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 32px 64px;
}
.plan__section3--btn {
  width: 100%;
  max-width: 192px;
  padding: 16px 32px;
  border-radius: 999px;
  font-size: 14px;
  font-weight: 700;
  color: #f7fafc;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  border-style: none;
  letter-spacing: 0.05rem;
  transition: all 300ms ease;
  cursor: pointer;
}

.plan__section1--name.plan-business,
.plan__section1--price.plan-business,
.plan__section2--feature-title.plan-business {
  color: #f7fafc;
}
.plan__section1--duration.plan-business {
  color: #edf2f7;
}
.plan__section2--feature.plan-business {
  color: #e2e8f0;
}
.pricing__plan--section2.plan-business {
  border-color: rgb(102, 126, 234);
}
.plan__section3--btn.plan-business {
  background: #f7fafc;
  color:#6415ff
}
.plan__section3--btn.plan-enterprise{
    background: linear-gradient(
        115deg,
        rgb(245, 101, 101) 0%,
        rgb(254, 178, 178) 100%
      );
}
/* PRICING HOVER EFFECTS */

.plan__section3--btn:hover{
    transform: translate(1%, -1%);
    box-shadow: 0 10px 15px 0 rgb(0, 0, 0, 0.15);
    filter: brightness(96%)
    
}

/* TESTIMONIALS */

.testimonials__container{
    display: flex;
    padding: 96px 0;
}
.testimonials__img--wrapper{
    width: 50%;
    display: flex;
    align-items: center;
}
.testimonials__header{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 64px;
    position: relative;
  }
  .header__feedback--wrapper::-webkit-scrollbar{
    display: none;
  }
    
.testimonials__header--para{
    max-width: 600px;
    margin: 24px 0 0;
    color: #7c8ba1;
    font-weight: 500;
}
.header__feedback--wrapper{
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;

}
.header__feedback--wrap{
  flex: 0 0 auto;
  height: 100%;
  width: 100%;

}
.feedback__star--wrapper{
    width: 120px;
    margin: 40px 0 0;
}
.feedback__h3{
  font-size: 20px;
  color:#243e63;
  margin: 16px 0 0;
  letter-spacing: 0;
}
.feedback__para{
  font-size: 16px;
  color:#4a5568;
  margin: 16px 0 40px;
  font-weight: 500;
}
.feedback__navigation{
  display: flex;
  justify-content: space-between;
}
.feedback__profile{
  display: flex;
  align-items: center;
}
.feedback__img--wrapper{
  width: 100%;
  max-width: 80px;
  margin-right: 24px;
}
.feedback__img{
  border-radius: 999px;
}
.feedback__profile--h5{
  font-size: 20px;
  color:#243e63
}
.feedback__profile--para{
  font-size: 16px;
  color:#7c8ba1;
  font-weight: 500;
}
.feedback__navigation--arrows{
display: flex;
align-items: center;
position: absolute;
bottom: 30px;
right: 0
}
.feedback__navigation--btn{
  border-style: none;
  padding: 16px;
  background-color: #edf2f7;
  border-radius: 999px;
  cursor: pointer;
}
.feedback__navigation--divider{
  border: 1px solid;
  border-width: 0;
  border-right-width: 1px;
  border-color: #d1d6db;
  width: 24px;
  height: 24px;
  transform: translateX(-12px);
}

/* FAQS */

.faqs__container{
  padding: 96px 0;
}

.faqs__header{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.faqs__header--para{
  max-width: 550px;
  margin: 18px 0 0;
}
.faqs__questions{
  margin: 48px 0 0;
}
.faqs__question--wrap{
display: flex;
flex-direction: column;
align-items: center;
margin: 30px 0 0;

}
.faqs__question{
display: flex;
justify-content: space-between;
background-color: #edf2f7;
border-radius: 6px;
padding: 16px 40px;
width: 100%;
max-width: 896px;
transition: all 300ms ease;
cursor: pointer;
position: relative;
}
.faqs__question--h3{
  font-size: 20px;
  color: #2D3748;
  font-weight: 600;
  letter-spacing: 0;
}
.faqs__question--arrow{
  transition: 300ms ease;
}
.faqs__answer{
  position: absolute;
  bottom: 15px;
  left: 50px;
  filter: opacity(0);
  transition: all 100ms ease;
}
.faqs__answer--para{
  max-width: 700px ;
  max-height: 80px;
  font-size: 1rem;
  color: #243e63;
}
.faqs__question.active{
  padding-bottom: 120px;
}
.faqs__question.active .faqs__question--arrow{
  transform: rotate(-180deg)
}
.faqs__question.active .faqs__answer{
  filter: opacity(100);
}
/* GET-STARTED */

.get-started__container{
  padding: 96px 0;
  margin: 96px 0;
  background-image: url(assets/decorated-background.png);
  background-size: 100%;
  display: flex;
  align-items: center;
  border-radius: 10px;
  height: 100%;
}
.get-started__wrap{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 32px;
  width: 100%;
}
.get-started__h5{
  font-size: 30px;
  color: #f7fafc;
  max-width: 500px;
}
.get-started__btn{
  padding: 20px 40px;
  border-radius: 999px;
  cursor: pointer;
  width: 170px;
  font-size: 16px;
  color: #f7fafc;
  font-weight: 600;
  max-height: 66px;
  transition: 300ms ease;
}
.get-started__btn.red{
background-color: #f56565;
margin: 0 32px 0 0;
border: none;
box-shadow: 0 10px 15px 0 rgb(0, 0, 0, 0.15);
}
.get-started__btn.transparent{
  border: 0.1px solid white;
  background: none;
  }
.get-started__btn--wrapper{
display: flex;
align-items: center;
justify-content: center;
}
/* GET-STARTED HOVER EFFECTS */
.get-started__btn.red:hover{
  background-color: #f83a3a;;
}
.get-started__btn.transparent:hover{
  background-color: white;
  color:#6415ff
}

/* FOOTER */
#footer{
  background-image: url(assets/decorated-background-footer.png);
  background-size: 100%;
  padding: 96px 32px;
  margin-top: 48px;
}
.footer__columns{
  display: flex;
  justify-content: space-between;
}
.footer__column--wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__column{
  display: flex;
  flex-direction: column;
  align-items: start;
  color: #f7fafc;
}
h5{
  margin: 0 0 12px 0;
  font-size: 16px;
}
.column__link{
  margin: 12px 0 0;
}
.column__link--anchor{
  color: #f7fafc;
  font-size: 14px;
  transition: all 300ms ease-in;
}
.column__link--anchor:hover{
  border-bottom: 2px solid
}
.footer__divider{
  border-bottom: 2px solid #712bfc;
  margin: 66px 0;
}
.footer__bottom--wrapper{
  display: flex;
  justify-content: space-between;
}
.footer__logo--wrapper{
  display: flex;
  align-items: center;
}
.footer__logo--wrap{
  max-width: 32px;
}
.footer__logo--h5{
  width: 150px;
  font-size: 20px;
  color: #f7fafc;
  margin: 0 0 0 8px;
}
.footer__copyright{
  font-size: 16px;
  color: #f7fafc;
  max-width: 300px;
}
.footer__social-links{
  display: flex;
}
.footer__social-link--wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  width: 36px;
  height: 36px;
  background-color: white;
  margin: 0 16px 0;
  transition: 300ms ease;
}
.footer__social-link{
  color: black;
}
.footer__social-link--wrap:hover{
  filter:brightness(85%)
}
/* RESPONSIVENESS */

@media (max-width: 1023px){
.nav__links{
  display: none;
}
.btn__menu--open{
  display: block;
}
.header__container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__get-started{
  width: 100%;
  max-width: 516px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__get-started--title{
  font-size: 30px;
  text-align: center;
}
.header__get-started--para,
.quality__text--para,
.values__text-area--para,
.testimonials__header--para{
  font-size: 16px;
  text-align: center;
}
.header__get-started--subtitle{
  font-size: 14px;
}
.header__get-started--customers-wrapper{
  text-align: center;
  margin: 32px 0;
}
.features__service{
  width: calc(100% / 2);
  max-width: 300px
}
.quality__text--wrapper{
  max-width: 450px;
}
.quality__text--para{
  max-width: 400px;
}
.quality__text--h2,
.steps__text--h2, 
.values__text-area--h2,
.testimonials__header--h2{
  font-size: 36px;
}
.steps__img--decoration{
  transform: scale(70%);
}
.values__value--wrapper{
  flex-direction: column;
}
.pricing__plans{
  flex-direction: column;
  align-items: center;
}
.pricing__plan{
  width: 100%;
  max-width: 500px;
}
.faqs__question--wrap{
  margin: 40px 0;
}
.get-started__container{
  background-image: url(assets/decorated-background2.png);
}
.get-started__wrap{
  flex-direction: column;
}
.get-started__h5{
  text-align: center;
  line-height: 1.5;
}
.get-started__btn--wrapper{
  margin: 24px 0 0 0;
}
#footer{
background: url(assets/decorated-background-footer2.png);
}
}


@media (max-width: 942px){
.feedback__profile--description{
  max-width: 70px;
}
}



@media (max-width: 767px) {
  h2{
    text-align: center;
  }
  .features__service{
    width: 100%;
    max-width:500px;
  }
  .quality__container{
    flex-direction: column-reverse;
    align-items: center;
    padding: 48px 0;
  }
  .quality__img--wrapper{
width: 70%;
  }
  .quality__text--wrapper{
    width: 70%;
    text-align: center;
  }
  .steps__container{
flex-direction: column;
align-items: center;
  }
  .steps__img--wrapper{
    margin-bottom: 50px;
    width: 70%;
  }
  .steps__img--decoration{
    transform: scale(50%);
  }
  .steps__text-area--wrapper{
    width: 70%;
    text-align: center;
  }
  .steps__list--step{
    flex-direction: column;
    align-items: center;
  }
  .steps__list--step-text{
    margin: 12px 0 0;
  }
  .values__container{
    flex-direction: column-reverse;
  }
  .values__img--wrapper{
    width: 70%;
    margin-bottom: 80px;
  }
  .values__text-area{
    width: 70%;
    text-align: center;
  }
  .values__value--wrapper{
    align-items: center;
    margin-top: 50px;
  }
  .values__value--wrap{
    justify-content: center;
  }
  .values__value{
    margin: 0
  }
  .pricing__plan{
    margin: 48px 0 0;
    max-width: 400px;
  }
  .testimonials__container{
    flex-direction: column;
    align-items: center;
  }
  .testimonials__img--wrapper{
    width: 70%;
    margin-bottom: 50px;
  }
  .testimonials__header{
    width: 70%;
    text-align: center;
    padding: 0;
  }
  .feedback__star--wrapper{
    margin: 0 auto;
  }
  .header__feedback--wrapper{
    margin-top: 50px;
  }
  .header__feedback{
    align-items: center;
  }
  .faqs__question--wrap{
    margin: 50px 0;
  }
  .feedback__profile--description{
    max-width: 300px;
  }
  .footer__columns{
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer__column--wrap{
    width: 33%;
    margin-bottom: 48px
  }
  .footer__bottom--wrapper{
    flex-direction: column;
    align-items: center;
  }
  .footer__copyright{
    margin: 32px 0;
    text-align: center;
  }
  .footer__logo--wrapper{
    max-width: 150px;pricing
  }
}





@media (max-width: 639px){
  .header__get-started--sign-up{
    flex-direction: column;
  }
  .header__get-started--input::placeholder{
    width: 300px;
  }
  
  .header__get-started--btn{
    position: inherit;
    margin-top: 16px;
    max-width: 1000px
  }
  h2{
    font-size: 30px;
  }
  .pricing__plan{
    max-width: 360px;
  }
  .faqs__header--h2,
  .pricing__header--h2,
  .features__h2{
    font-size: 36px;
  }
  .quality__img--decoration{
    transform: scale(70%);
  }
  .feedback__navigation--arrows{
    bottom: -60px;
    left: 100px
  }
  .header__img--wrapper{
    width: 90%;
  }
  .quality__img--wrapper{
width: 100%;
  }
  .quality__text--wrapper{
    width: 90%;
  }
  .steps__img--wrapper{
    width: 90%;
  }
  .steps__text-area--wrapper{
    width: 80%;
    text-align: center;
  }
  .values__img--wrapper{
    width: 90%;
  }
  .values__text-area{
    width: 80%;
  }
  .testimonials__img--wrapper{
    width: 90%;
  }
  .testimonials__header{
    width: 80%;
    text-align: center;
    padding: 0;
  }
  .feedback__star--wrapper{
    margin: 0 auto;
  }
  .header__feedback--wrapper{
    margin-top: 50px;
  }
  .header__feedback{
    align-items: center;
  }
  .feedback__profile--description{
    max-width: 300px;
  }
  .faqs__question.active{
    padding: 16px 40px 200px;
  }
  .faqs__answer{
    bottom: 100px
  }
  .faqs__answer--para{
    font-size: 14px;
  }
  .footer__columns{
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer__column--wrap{
    width: 33%;
    margin-bottom: 48px
  }
  .footer__bottom--wrapper{
    flex-direction: column;
    align-items: center;
  }
  .footer__copyright{
    margin: 32px 0;
    text-align: center;
  }
  .footer__logo--wrapper{
    max-width: 150px;
  }
  .get-started__h5{
    font-size: 24px;
}
.get-started__btn--wrapper{
  flex-direction: column;
  margin: 0;
}
.get-started__btn{
  padding: 12px 24px;
  max-width: 140px;
}
.get-started__btn.red{
  margin: 0;
}
.get-started__btn.transparent{
  margin-top: 16px;
}
.footer__column--wrap{
  width: 50%
}
.footer__column{
  align-items: center;
}
.column__link{
  align-items: center;
  text-align: center;
}
}
@media (max-width: 400px){
  .quality__img--decoration{
    transform: scale(50%);
}
}

/* ANIMATIONS */
.hidden{
  transform: translateX(-100%);
}
.hidden2{
  transform: translateX(100%);
}
.show{
  transform: translateX(0);
}
#landing,
#features,
#quality,
#steps,
#values,
#pricing,
#testimonials,
#faqs,
#get-started,
#footer{
  transition: all 500ms ease 100ms;

}